<component name="ArtifactManager">
  <artifact type="war" name="spring-page-by-rowbounds:war">
    <output-path>$PROJECT_DIR$/spring-page-by-rowbounds/target</output-path>
    <root id="archive" name="spring-page-by-rowbounds.war">
      <element id="artifact" artifact-name="spring-page-by-rowbounds:war exploded" />
    </root>
  </artifact>
</component>