<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-page-by-array (1):war exploded">
    <output-path>$PROJECT_DIR$/spring-page-by-sql/target/spring-page-by-array</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-page-by-array (1)" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/spring-page-by-sql/target/spring-page-by-array/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-page-by-array (1)/web/Web" />
    </root>
  </artifact>
</component>